*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    max-width: 1100px;
    margin: auto;
}

.output img {
    max-width: 300px;
}

.content{
    text-align: center;
}